body {
  font-family : 'Noto Sans Korean','Open Sans',sans-serif;
  background: #222;
  transform: scale(1.05);
  transform-origin: 5% 5%;
  margin-left: -180px;
}
@media screen and (max-width:1020px) {
  body {
    margin-left: 0px;
  }
}

div.jg-head, div.jg-foot   {
  visibility: hidden;
}
div.jg-head {
  margin : 77px auto 40px auto;
  padding-left : 155px;
  width : 820px;
  font-size: 11px;
}

div.jg-head > div.jg-link, div.jg-head > div.jg-title {
  display : inline-block;
}

div.jg-head > div.jg-title {
  padding-top : 31px;
  font-size:31px;
}
div.jg-head > div.jg-title > a {
  text-decoration: none;
  color : #fff;
}
div.jg-head > div.jg-title > a:visited {
  text-decoration: none;
  color : #fff;
}

div.jg-head > div.jg-link  {
  padding-left : 41px;
  vertical-align: 50%;
}

div.jg-head > div.jg-link >a {
  color:#39BEFF;
}

div.jg-head > div.jg-title > a > span,
div.jg-foot > div.jg-title > span {
  color : #39BEFF;
}

div.jg-head > div.jg-desc {
  padding-top:6px;
  color : #8A8A8A;
  font-size : 11px;
  width : 400px;
}
div.jg-head > div.jg-desc p{
  margin : 1px auto;
}

div.jg-foot {
  color : #fff;
  font-size: 11px;
  margin : 0 auto 80px auto;
  padding-left : 72px;
  width : 820px;
}

div.jg-foot > div.jg-title, div.jg-foot > div.jg-logo {
  display : inline-block;
}

div.jg-foot > div.jg-logo > hr {
  display : inline-block;
  border-color : #39BEFF;
}
div.jg-foot > div.jg-logo > hr.jg-left {
  width : 214px;
}

div.jg-foot > div.jg-logo > hr.jg-right {
  width : 312px;;
}

div.jg-foot > div.jg-logo  img {
  padding : 0 10px 0 10px;
  width : 81px;
  height : 32px;
  vertical-align: middle;
}

div.jg-foot  div.jg-btn {
  margin : 10px auto 10px 105px;
}

div.jg-content {
  /*
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  */
  margin: 10px auto;
  border-spacing : 0px;
  font-weight : 300;
  color: rgb(51, 51, 51);
  font-size : 11px;
  text-align: center;
}

div.jg-chart {
  display : inline-block;
}

div.jg-legend {
  position : absolute;
  display : inline-block;
  top : 186px;
  /*
  -webkit-flex: none;
          flex: none;
  position: fixed;
  */

  /*background-color: white;*/
  padding : 5px;
  color: #ddd;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  fill : #b7c2c2;
  text-align: left;
}

@media screen and (max-width:840px) {

  div.jg-legend {
    left:840px;
  }
}
.jg-legend > div {
  margin : 7px auto;
}
.jg-legend text {
  font-size : 10px;
}
.jg-legend div.jg-playoff-check {
  font-size : 9.5px;
}
.jg-legend .jg-rank-text .jg-number {
  font-size : 22px;
}

.jg-legend .jg-legend-arc {
  fill : #8A8A8A;
}
.jg-legend .jg-rank-hand {
  stroke-width : 3px;
}
.jg-legend .jg-legend-back {
  stroke : #8A8A8A;
  fill : none;
  stroke-dasharray : 2,3;
}
.jg-legend text {
  stroke : none;
}
.jg-legend .jg-legend-arrow {
  font-size : 8px;
}
.jg-legend .jg-legend-index.jg-r {
  fill : #1698d8;
}
.jg-legend .jg-legend-index.jg-rall {
  fill : #f6b900;
}

.jg-rank-text .jg-star {
  fill : none;
  stroke : #fff;
}

.jg-rank-text.champion .jg-star {
  fill : #fff;
}

.jg-legend .jg-legend-star.jg-hidden {
  visibility: hidden;
}

.jg-legend .jg-legend-star text {
  fill : #fff;
}

.jg-legend .jg-legend-star.champion circle {
  fill : #fff;
}

.jg-legend .jg-legend-star.korean-season circle{
  fill : none;
  stroke : #fff;
}

.jg-legend hr {
  margin : 0 -5px;
}

.jg-legend .jg-coach-select > select {
  width: 146px;
  height : 22px;
  font-size : 10px;
  color : #000;
  padding-left:12px;
  background-color : #E2E2E2;
  font-weight: normal;
  -moz-appearance: none;
  -webkit-appearance: none;
}
/*
.jg-legend .jg-legend-star.champion {
  fill : #fff;
}
*/
.jg-legend #jg-playoff {
  margin-left : 6px;
}

.jg-legend .jg-legend-title {
  font-size : 13px;
  fill : #fff;
}
/*
.jg-legend .jg-hidden {
  visibility: hidden;
}
*/

.jg-menu div {
  margin : 10px;
}


.jg-label, .jg-axis text, .jg-row.jg-avg text {
  fill : #bbb;
}

.jg-label {
  cursor : pointer;
}
.jg-axis text {
  fill : #fff;
}
.jg-axis path, .jg-axis line{
  display : none;
}


.jg-stack .jg-axis line, .jg-stack .jg-axis path{
  display : inherit;
  shape-rendering: crispEdges;
  stroke: #777;
}

.jg-rank-text > text{
  fill : #bbb;/*#444;*/
}

g.jg-col {
  cursor : pointer;
}

/*
g.jg-col rect {
  fill : none;
}
*/

/*
g.jg-col:nth-child(even) rect{
  fill : #ddd;
}

g.jg-col:nth-child(odd) rect{
  fill : #e8e8e8;
}
*/

g.jg-col > rect {
 fill:none;
 opacity: 0;
 -webkit-transition: fill 1s, opacity 1s;
 transition: fill 1s, opacity 1s;
}

g.jg-col.jg-mouseover rect{
  fill : #fcd589; /* */
  opacity: 1.0;
}

g.jg-col.jg-clicked rect{
  fill : #F6C18C; /* */
  opacity: 1.0;
}

g.jg-col.jg-clicked rect {
  /*fill : #f6c18c;*/
}

g.jg-col.jg-hidden  {
  opacity: .5;
}

path.jg-link {
  fill : none;
  /*stroke : #ca787d;*/
  stroke-width : 1px;
}

circle.jg-link {
  /*fill : #ca787d;*/
  stroke : none;
}

.jg-rank-hand {
  stroke-width: 1px;
  /*opacity : .33;*/
}

.jg-rank-hand.jg-r, .jg-rank-line .jg-rank-r, .jg-svg-stack-line.jg-r{
  stroke: #1698d8; /* '#ff2700', '#f6b900', '#1698d8' */
}

.jg-rank-hand.jg-rall, .jg-rank-line .jg-rank-rall , .jg-svg-stack-line.jg-rall{

  stroke: #f6b900; /* '#ff2700', '#f6b900', '#1698d8' */
}

.jg-rank-hand.jg-dup {
  stroke: #22cb00
}

.jg-rank-arc, .jg-year-stat-rall-point {
  opacity : .75;
}

.jg-rank-arc.jg-rall, .jg-year-stat-point.jg-rall {
  fill: #f6b900;
}

.jg-rank-arc.jg-r, .jg-year-stat-point.jg-r {
  fill: #1698d8;
}
.jg-year-stat-point.jg-hidden {
  opacity : .25;
}

.jg-rank-arc.jg-back {
  fill : #e8e9e8;
}

.jg-rank-text .jg-number {
  fill : #fff;
}

.jg-rank-text.jg-hidden .jg-number {
 fill : #585858;
}


.jg-rank-text.jg-hidden .jg-star {
 visibility: hidden;
}

.jg-row.jg-avg .jg-col .jg-back {
  fill : #aaa;
}
g.jg-col .jg-back {
  fill:#aaa;
}
/*
g.jg-col:nth-child(odd) .jg-back{
  fill : #aaa;
}
g.jg-col:nth-child(even) .jg-back{
  fill : #e8e9e8;
}
*/
.jg-year-stat-brush .extent {
  fill : #ddd;
  opacity: .5;
  shape-rendering: crispEdges;
}

.jg-bottom-row .jg-line {
  stroke:#777;
  stroke-width:1px;
}

.jg-bottom-row .jg-coach-name {
  fill:#bbb;
}

.jg-menu {
  margin : 20px auto;
  width : 820px;
  text-align: center;
  padding-left : 38px;
  font-size : 11px;
}

.jg-menu a {
  color : #39BEFF;
  opacity: .5;
  text-decoration: underline;;
  cursor : pointer;
  padding : 10px 20px;
  font-size : 12px;
}

.jg-menu a.jg-on {
  opacity : 1;
}

.jg-cc {
  margin : 240px auto 40px auto;
  text-align: center;
}

.jg-cc a {
  color : #39BEFF;
}


.jg-article.jg-content {
  display:block;
  text-align: center;
}

.jg-article .jg-body {
  margin : 0 auto;
  padding-left : 38px;
  width : 820px;
  display: inline-block;
  text-align : left;
}

.jg-article .jg-byline, .jg-article .jg-section{
  color : #fff;
  line-height: 1.8;
}

.jg-article .jg-byline {
  padding : 10px 48px;
  font-size : 14px;
}

.jg-article .jg-list {
  /*margin-left : 24px;*/
  padding: 0 19px;
  color: #eee;
  border-left: 4px solid ;
  border-color: #39BEFF;
  list-style-type : none;
}

.jg-article .jg-section {
  margin-top : 20px;
  margin-bottom : 60px;
}

.jg-article .jg-title {
  padding : 10px 48px;
  font-size : 18px;
}
.jg-article .jg-title > span {
  color : #39BEFF;
}

.jg-article .jg-paragraph {
  padding : 4px 117px;
  font-size : 14px;
  text-align: left;
  color : #D2D2D2;
}

.jg-article div.jg-line {
  text-align: center;
  color : #8a8a8a;

}

.jg-article div.jg-line span {
  font-size : 18px;
  padding : 0 10px;

}

.jg-article div.jg-line > hr {
  border-color : #8a8a8a;
  width : 335px;
  display : inline-block;
}

.jg-article .jg-axis text {
  fill :  #A7A7A7;
}

.jg-article a {
  color : #39BEFF;
}

.jg-article li  a {
  color : #fff;
}
