@import url(http://notosanskr-hestia.s3-website-ap-northeast-1.amazonaws.com/stylesheets/NotoSansKR-Hestia.css);

body {
  font-family : 'Noto Sans Korean','Open Sans',sans-serif;
  background: #222;
}

div.jg-head {
  margin : 77px auto 40px auto;
  padding-left : 155px;
  width : 820px;
  font-size: 11px;
}

div.jg-head > div.jg-link, div.jg-head > div.jg-title {
  display : inline-block;
}

div.jg-head > div.jg-title {
  padding-top : 31px;
  font-size:31px;
}

div.jg-head > div.jg-link  {
  padding-left : 41px;
  vertical-align: 50%;
}

div.jg-head > div.jg-link >a {
  color:#39BEFF;
}

div.jg-head > div.jg-title {
  color : #fff;
}
div.jg-head > div.jg-title > span, div.jg-foot > div.jg-title > span {
  color : #39BEFF;
}

div.jg-head > div.jg-desc {
  padding-top:6px;
  color : #8A8A8A;
  font-size : 11px;
}

div.jg-foot {
  color : #fff;
  font-size: 11px;
  margin : 0 auto 80px auto;
  padding-left : 155px;
  width : 820px;
}

div.jg-content {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  margin: 10px auto;
  border-spacing : 0px;
  font-weight : 300;
  color: rgb(51, 51, 51);
  font-size : 11px;
}

div.jg-chart {
  /*margin: 0 auto;*/
}

div.jg-legend {
  -webkit-flex: none;
          flex: none;
  position: fixed;
  top: 60px;
  /*background-color: white;*/
  padding : 5px;
  color: #ddd;

  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
.jg-legend > div {
  margin : 7px auto;
}
.jg-legend text {
  font-size : 10px;
}
.jg-legend div.jg-playoff-check {
  font-size : 9.5px;
}
.jg-legend .jg-rank-text .jg-number {
  font-size : 22px;
}

.jg-legend .jg-legend-arc {
  fill : #8A8A8A;
}
.jg-legend .jg-rank-hand {
  stroke-width : 3px;
}
.jg-legend .jg-legend-back {
  stroke : #8A8A8A;
  fill : none;
  stroke-dasharray : 2,3;
}
.jg-legend text {
  stroke : none;
}
.jg-legend .jg-legend-arrow {
  font-size : 8px;
}
.jg-legend .jg-legend-index.jg-r {
  fill : #1698d8;
}
.jg-legend .jg-legend-index.jg-rall {
  fill : #f6b900;
}

.jg-legend .jg-legend-star {
  fill : #fff;
}
/*
.jg-legend .jg-legend-star.champion {
  fill : #fff;
}
*/
.jg-legend #jg-playoff {
  margin-left : 11px;
}

.jg-legend .jg-legend-title {
  font-size : 13px;
  fill : #fff;
}

.jg-menu div {
  margin : 10px;
}


.jg-label, .jg-axis text, .jg-row.jg-avg text {
  fill : #bbb;
}

.jg-label {
  cursor : pointer;
}
.jg-axis text {
  fill : #fff;
}
.jg-axis path, .jg-axis line{
  display : none;
}


.jg-stack .jg-axis line, .jg-stack .jg-axis path{
  display : inherit;
  shape-rendering: crispEdges;
  stroke: #777;
}

.jg-rank-text > text{
  fill : #bbb;/*#444;*/
}

g.jg-col {
  cursor : pointer;
}

/*
g.jg-col rect {
  fill : none;
}
*/

/*
g.jg-col:nth-child(even) rect{
  fill : #ddd;
}

g.jg-col:nth-child(odd) rect{
  fill : #e8e8e8;
}
*/

g.jg-col > rect {
 fill:none;
 opacity: 0;
 -webkit-transition: fill 1s, opacity 1s;
 transition: fill 1s, opacity 1s;
}

g.jg-col.jg-mouseover rect{
  fill : #fcd589; /* */
  opacity: 1.0;
}

g.jg-col.jg-clicked rect{
  fill : #F6C18C; /* */
  opacity: 1.0;
}

g.jg-col.jg-clicked rect {
  /*fill : #f6c18c;*/
}

g.jg-col.jg-hidden  {
  opacity: .5;
}

path.jg-link {
  fill : none;
  /*stroke : #ca787d;*/
  stroke-width : 1px;
}

circle.jg-link {
  /*fill : #ca787d;*/
  stroke : none;
}

.jg-rank-hand {
  stroke-width: 1px;
  /*opacity : .33;*/
}

.jg-rank-hand.jg-r, .jg-rank-line .jg-rank-r, .jg-svg-stack-line.jg-r{
  stroke: #1698d8; /* '#ff2700', '#f6b900', '#1698d8' */
}

.jg-rank-hand.jg-rall, .jg-rank-line .jg-rank-rall , .jg-svg-stack-line.jg-rall{

  stroke: #f6b900; /* '#ff2700', '#f6b900', '#1698d8' */
}

.jg-rank-hand.jg-dup {
  stroke: #22cb00
}

.jg-rank-arc, .jg-year-stat-rall-point {
  opacity : .75;
}

.jg-rank-arc.jg-rall, .jg-year-stat-point.jg-rall {
  fill: #f6b900;
}

.jg-rank-arc.jg-r, .jg-year-stat-point.jg-r {
  fill: #1698d8;
}
.jg-year-stat-point.jg-hidden {
  opacity : .25;
}

.jg-rank-arc.jg-back {
  fill : #e8e9e8;
}

.jg-rank-text .jg-number {
  fill : #fff;
}

.jg-rank-text.jg-hidden .jg-number {
 fill : #585858;
}


.jg-rank-text .jg-star {
  font-size: 4px;
}

.jg-legend .jg-rank-text .jg-star {
  font-size: 8px;
}

.jg-rank-text.korean-season .jg-star {
  fill : #fff;
}

.jg-rank-text.jg-hidden .jg-star {
 visibility: hidden;
}

.jg-row.jg-avg .jg-col .jg-back {
  fill : #aaa;
}
g.jg-col .jg-back {
  fill:#aaa;
}
/*
g.jg-col:nth-child(odd) .jg-back{
  fill : #aaa;
}
g.jg-col:nth-child(even) .jg-back{
  fill : #e8e9e8;
}
*/
.jg-year-stat-brush .extent {
  fill : #ddd;
  opacity: .5;
  shape-rendering: crispEdges;
}

.jg-bottom-row .jg-line {
  stroke:#777;
  stroke-width:1px;
}

.jg-bottom-row .jg-coach-name {
  fill:#777;
}
