body {
  font-family : "Apple SD Gothic Neo","Malgun Gothic",Dotum,sans-serif;
  background: #222;
}

div.jg-content {
  margin: 10px auto;
  border-spacing : 0px;
  font-weight : 300;
  color: rgb(51, 51, 51);
  font-size : 11px;
}

div.jg-chart {
  margin: 0 auto;
}

.jg-label, .axis text {
  fill : #777;
}

.jg-label {
  cursor : pointer;
}

.axis path {
  display: none;
}

.axis line {
  shape-rendering: crispEdges;
  stroke: #000;
}

.jg-rank-text rect{
  stroke : none;
}

.jg-rank-text text{
  fill : #bbb;/*#444;*/
}

g.jg-col {
  cursor : pointer;
}

g.jg-col rect {
  fill : none;
}

/*
g.jg-col:nth-child(even) rect{
  fill : #ddd;
}

g.jg-col:nth-child(odd) rect{
  fill : #e8e8e8;
}
*/


g.jg-col.jg-mouseover rect{
  fill : #fcd589;
}

g.jg-col.jg-clicked rect {
  /*fill : #f6c18c;*/
}

g.jg-col.jg-hidden  {
  opacity: .5;
}

path.jg-link {
  fill : none;
  /*stroke : #ca787d;*/
  stroke-width : 1px;
}

circle.jg-link {
  /*fill : #ca787d;*/
  stroke : none;
}

.jg-rank-hand {
  stroke-width: 1px;
  /*opacity : .33;*/
}

.jg-rank-hand.jg-rank-wa, .jg-rank-line .jg-rank-wa {
  stroke: #ff2700; /* '#ff2700', '#f6b900', '#1698d8' */
}

.jg-rank-hand.jg-rank-r, .jg-rank-line .jg-rank-r{
  stroke: #1698d8; /* '#ff2700', '#f6b900', '#1698d8' */
}

.jg-rank-hand.jg-rank-rall, .jg-rank-line .jg-rank-rall {
  stroke: #f6b900; /* '#ff2700', '#f6b900', '#1698d8' */
}

.jg-rank-hand.jg-rank-dup {
  stroke: #22cb00
}

.jg-rank-arc, .jg-year-stat-rall-point, .jg-year-stat-r-point {
  opacity : .75;
}



.jg-rank-arc.jg-rall, .jg-year-stat-rall-point {
  fill: #f6b900;
}

.jg-rank-arc.jg-r, .jg-year-stat-r-point {
  fill: #1698d8;
}

g.jg-row-avg .jg-rank-back {
  fill : #e8e9e8;
}
g.jg-col:nth-child(odd) .jg-rank-back{
  fill : #aaa;
}

g.jg-col:nth-child(even) .jg-rank-back{
  fill : #e8e9e8;
}

.jg-year-stat-brush .extent {
  fill : #ddd;
  opacity: .5;
  shape-rendering: crispEdges;
}
