body {
  font-family : "Apple SD Gothic Neo","Malgun Gothic",Dotum,sans-serif;
  background: #222;
}

div.jg-content {
  margin: 10px auto;
  border-spacing : 0px;
  font-weight : 300;
  color: rgb(51, 51, 51);
  font-size : 11px;
}

div.jg-chart {
  margin: 0 auto;
}

.jg-label, .jg-axis text, .jg-row-avg text {
  fill : #777;
}

.jg-label {
  cursor : pointer;
}

.jg-axis path, .jg-axis line{
  display : none;
}


.jg-stack .jg-axis line, .jg-stack .jg-axis path{
  display : inherit;
  shape-rendering: crispEdges;
  stroke: #777;
}


.jg-rank-text > circle{
  stroke : none;
  fill : none;
}

.jg-rank-text > circle.playoff{
  stroke : #bbb ;
  stroke-width : 1px;
  fill-opacity : .55;
}
.jg-rank-text > circle.korean-season{
  fill : #1698d8;
}

.jg-rank-text > circle.champion{
  fill : #f6b900;
}

.jg-rank-text > text{
  fill : #bbb;/*#444;*/
}

g.jg-col {
  cursor : pointer;
}

/*
g.jg-col rect {
  fill : none;
}
*/

/*
g.jg-col:nth-child(even) rect{
  fill : #ddd;
}

g.jg-col:nth-child(odd) rect{
  fill : #e8e8e8;
}
*/

g.jg-col > rect {
 fill:none;
 opacity: 0;
 -webkit-transition: fill 1s, opacity 1s;
 transition: fill 1s, opacity 1s;
}

g.jg-col.jg-mouseover rect{
  fill : #fcd589; /* */
  opacity: 1.0;
}

g.jg-col.jg-clicked rect{
  fill : #F6C18C; /* */
  opacity: 1.0;
}

g.jg-col.jg-clicked rect {
  /*fill : #f6c18c;*/
}

g.jg-col.jg-hidden  {
  opacity: .5;
}

path.jg-link {
  fill : none;
  /*stroke : #ca787d;*/
  stroke-width : 1px;
}

circle.jg-link {
  /*fill : #ca787d;*/
  stroke : none;
}

.jg-rank-hand {
  stroke-width: 1px;
  /*opacity : .33;*/
}

.jg-rank-hand.jg-r, .jg-rank-line .jg-rank-r, .jg-svg-stack-line.jg-r{
  stroke: #1698d8; /* '#ff2700', '#f6b900', '#1698d8' */
}

.jg-rank-hand.jg-rall, .jg-rank-line .jg-rank-rall , .jg-svg-stack-line.jg-rall{

  stroke: #f6b900; /* '#ff2700', '#f6b900', '#1698d8' */
}

.jg-rank-hand.jg-dup {
  stroke: #22cb00
}

.jg-rank-arc, .jg-year-stat-rall-point {
  opacity : .75;
}

.jg-rank-arc.jg-rall, .jg-year-stat-point.jg-rall {
  fill: #f6b900;
}

.jg-rank-arc.jg-r, .jg-year-stat-point.jg-r {
  fill: #1698d8;
}
.jg-year-stat-point.jg-hidden {
  opacity : .25;
}

.jg-rank-arc.jg-back {
  fill : #e8e9e8;
}


g.jg-row-avg .jg-back {
  fill : #aaa;
}

g.jg-col .jg-back {
  fill:#aaa;
}
/*
g.jg-col:nth-child(odd) .jg-back{
  fill : #aaa;
}
g.jg-col:nth-child(even) .jg-back{
  fill : #e8e9e8;
}
*/
.jg-year-stat-brush .extent {
  fill : #ddd;
  opacity: .5;
  shape-rendering: crispEdges;
}

.jg-bottom-row .jg-line {
  stroke:#777;
  stroke-width:1px;
}

.jg-bottom-row .jg-coach-name {
  fill:#777;
}
