body {
  font-family : "Apple SD Gothic Neo","Malgun Gothic",Dotum,sans-serif;
}

div.jg-content {
  margin: 20px auto;
  border-spacing : 0px;
  font-weight : 300;
  color: rgb(51, 51, 51);
  font-size : 11px;
}

div.jg-chart {
  margin: 0 auto;
}

.jg-team-label, .axis text {
  fill : #777;
}
.axis path {
  display: none;
}

.axis line {
  shape-rendering: crispEdges;
  stroke: #000;
}

text.jg-rank-text {
  fill : #111;
}

g.jg-col:nth-child(even) {
  fill : #ddd;
}

g.jg-col:nth-child(odd) {
  fill : #e8e8e8;
}

g.jg-col.filtered {
  fill : #0d905b;
}
