body {
  font-family : "Apple SD Gothic Neo","Malgun Gothic",Dotum,sans-serif;
}

div.jg-content {
  margin: 20px auto;
  border-spacing : 0px;
  font-weight : 300;
  color: rgb(51, 51, 51);
  font-size : 11px;
}

div.jg-chart {
  margin: 0 auto;
}

.jg-label, .axis text {
  fill : #777;
}

.jg-label {
  cursor : pointer;
}

.axis path {
  display: none;
}

.axis line {
  shape-rendering: crispEdges;
  stroke: #000;
}

text.jg-rank-text {
  fill : #111;
}

g.jg-col {
  cursor : pointer;
}

g.jg-col:nth-child(even) rect{
  fill : #ddd;
}

g.jg-col:nth-child(odd) rect{
  fill : #e8e8e8;
}

g.jg-col.jg-mouseover rect{
  fill : #fcd589;
}

g.jg-col.jg-clicked rect {
  fill : #f6c18c;
}

path.jg-link {
  fill : none;
  /*stroke : #ca787d;*/
  stroke-width : 1px;
}

circle.jg-link {
  /*fill : #ca787d;*/
  stroke : none;
}

.jg-rank-hand {
  stroke-width:1px;
  /*opacity : .33;*/
}

.jg-rank-wa {
  stroke: #ff2700; /* '#ff2700', '#f6b900', '#1698d8' */
}

.jg-rank-r {
  stroke: #f6b900; /* '#ff2700', '#f6b900', '#1698d8' */
}

.jg-rank-rall {
  stroke: #1698d8; /* '#ff2700', '#f6b900', '#1698d8' */
}
