body {
  font-family : "Apple SD Gothic Neo","Malgun Gothic",Dotum,sans-serif;
}

div.jg-content {
  margin: 20px auto;
  border-spacing : 0px;
  font-weight : 300;
  color: rgb(51, 51, 51);

}

div.jg-chart {
  margin: 0 auto;
}
